Calcutta auction for Curling bonspiel, mens and womens divisions
Payout Breakdown is 40%, 30%, 15%, 15%. Both mens and womens
2025 amounts – Mens - $12,400, Ladies - $4,700

$40 self buy back for 25% of the payout. 